CONFIG_ESP_ALLOW_MULTIPLE_DEFINITIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS=n

CONFIG_ESP_TASK_WDT=n
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_SYSTEM_WDT=n

# Debug options
CONFIG_ESP32_APPTRACE_ENABLE=y
CONFIG_ESP32_APPTRACE_LOCK_ENABLE=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_ESP_DEBUG_STUBS_ENABLE=y
CONFIG_ESP_SYSTEM_CHECK_INT_LEVEL_4=y

CONFIG_ESP32_DEBUG_STUBS_ENABLE=y

# Additional debug settings to improve reliability
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y
CONFIG_ESP_SYSTEM_SINGLE_CORE_MODE=y
CONFIG_ESP_CACHE_FLASH_IGNORE_CORE_DUMP=n

CONFIG_ESP_SYSTEM_GDBSTUB_RUNTIME=y